## Import

In [1]:
from tqdm import tqdm

import streamlit as st
import pandas as pd
import numpy as np
import OpenDartReader
import warnings
import dart_fss
import time
import re, os

warnings.filterwarnings('ignore')

* functions

In [2]:
def get_data(dart, code, year = 2022, quarter = "사업보고서"):
    select_cols = ['corp_cls', 'corp_code', 'corp_name', 'inv_prm', 'frst_acqs_de', 'invstmnt_purps', 'frst_acqs_amount', 'trmend_blce_qy', 'trmend_blce_qota_rt', 'trmend_blce_acntbk_amount']
    change_cols = ['법인구분', '고유번호', '회사명', '법인명', '최초취득일자', '출자목적', '최초취득금액', '기말잔액수량', '기말잔액지분율', '기말잔액장부가액']
    change_cls = {"Y":"유가", "K":"코스닥", "N":"코넥스", "E":"기타"}
    
    change_dict = {"1분기보고서": 11013, "반기보고서": 11012, "3분기보고서": 11014, "사업보고서":11011}
    r_code = change_dict[quarter]
    
    invst_df = dart.report(code, '타법인출자', year, r_code)
    
    if invst_df.shape[0] == 0:
        return invst_df
    else:
        invst_df = invst_df.loc[:, select_cols]
        invst_df.corp_cls = invst_df.corp_cls.map(change_cls)
        invst_df.columns = change_cols
    
        return invst_df

* API Setting

In [3]:
api_key = 'f54ffa528f132c33a392456a76438073353fa2b5'
dart = OpenDartReader(api_key)
dart_fss.set_api_key(api_key=api_key)

'f54ffa528f132c33a392456a76438073353fa2b5'

* get total corp list

In [4]:
corp_dict = dart_fss.api.filings.get_corp_code()
corp_df = pd.DataFrame(corp_dict)
corp_df = corp_df.loc[corp_df.stock_code.notnull()]
corp_df.index = [x for x in range(corp_df.shape[0])]

Output()

In [5]:
# C=발행공시, D=지분공시
market_dict = {"Y": "코스피","K": "코스닥", "N": "코넥스", "E": "기타"}
q_dict = {"1분기": ['{}-01-01', '{}-03-31'],
          "2분기": ['{}-04-01', '{}-06-30'],
          "3분기": ['{}-07-01', '{}-09-30'],
          "4분기": ['{}-10-01', '{}-12-31']}
change_dict = {"1분기보고서": 11013, "반기보고서": 11012, "3분기보고서": 11014, "사업보고서":11011}
year = 2021
r_code = '사업보고서'

In [6]:
loop_list = ['{}분기'.format(x) for x in range(1,5)]

In [7]:
for idx, q in enumerate(loop_list):
    start_dt, end_dt = [x.format(year) for x in q_dict[q]]
    
    if r_code == "사업보고서":
        temp_df = dart.list(start=start_dt, end=end_dt, kind_detail = 'A001') # 사업
    elif r_code == "반기보고서":
        temp_df = dart.list(start=start_dt, end=end_dt, kind_detail = 'A002') # 반기
    else:
        temp_df = dart.list(start=start_dt, end=end_dt, kind_detail = 'A003') # 분기
    
    if idx == 0:
        info_df = temp_df
    else:
        info_df = pd.concat([info_df, temp_df])

In [8]:
corp_list = info_df.loc[info_df.corp_cls.isin(['Y', 'K', 'N'])].corp_name.unique()

In [ ]:
cnt = 0
p_cnt = 0

for corp in tqdm(corp_list):
    temp_df = dart.report(corp, '타법인출자', year, change_dict[r_code])
    p_cnt += 1
    
    if temp_df.shape[0] == 0:
        continue
        
    elif cnt == 0 and temp_df.shape[0] != 1:
        output = temp_df
        cnt += 1
        
    else:
        output = pd.concat([output, temp_df])

In [15]:
output.invstmnt_purps = [x.replace(" ", "").replace("\n", "") for x in output.invstmnt_purps]
final_df = output.loc[[True if "단순" == x or "단순투자" in x else False for x in output.invstmnt_purps], :]

In [16]:
set([x for x in output.invstmnt_purps if "단순" == x or "단순투자" in x])

{'단순',
 '단순투자',
 '단순투자(RCPS)',
 '단순투자(보증서발급)',
 '단순투자(보통주)',
 '단순투자(보통주식)',
 '단순투자(사업관련)',
 '단순투자(신설법인지분참여)',
 '단순투자(전환사채)',
 '단순투자(중소.벤처기업발굴육성및투자)',
 '단순투자(펀드투자)',
 '단순투자:이행보증증권발급등',
 '단순투자등',
 '단순투자목적',
 '벤처투자조합출자(단순투자)',
 '수익창출을위한단순투자',
 '재무적투자(단순투자)',
 '지역사회발전도모(단순투자)',
 '투자(단순투자)',
 '협회가입(단순투자)'}

In [19]:
select_cols = ['corp_cls', 'corp_name', 'inv_prm', 'frst_acqs_de', 'invstmnt_purps', 'frst_acqs_amount', 'trmend_blce_qy', 'trmend_blce_qota_rt', 'trmend_blce_acntbk_amount']
change_cols = ['법인구분', '회사명', '법인명', '최초취득일자', '출자목적', '최초취득금액', '기말잔액수량', '기말잔액지분율', '기말잔액장부가액']

In [12]:
save_df = final_df.loc[:, select_cols]
save_df.columns = change_cols

save_df['법인구분'] = save_df['법인구분'].map(market_dict)

clean_txt = [re.sub(r'\([^)]*\)', '', x) for x in save_df['법인명']]
clean_txt = [re.sub("㈜", "", x) for x in clean_txt]
clean_txt = [re.sub("\s", "", x) for x in clean_txt]
save_df['법인명'] = clean_txt
check = save_df.loc[save_df['법인명'].isin(list(corp_df.corp_name.unique()))]
check.loc[check['회사명'] == '테라젠이텍스']

,법인구분,회사명,법인명,최초취득일자,출자목적,최초취득금액,기말잔액수량,기말잔액지분율,기말잔액장부가액
2,코스닥,테라젠이텍스,비엘팜텍,2020.08.07,단순투자,"1,495,000,000","305,623",0.34,"191,000,000"
3,코스닥,테라젠이텍스,에이플러스에셋,2016.06.22,단순투자,"49,000,000","15,000",0.07,"73,000,000"
13,코스닥,테라젠이텍스,메드팩토,2013.07.01,단순투자,"1,250,000,000","3,100,000",14.65,"68,975,000,000"

In [13]:
check

,법인구분,회사명,법인명,최초취득일자,출자목적,최초취득금액,기말잔액수량,기말잔액지분율,기말잔액장부가액
1,코스닥,아이즈비전,버킷스튜디오,2022.03.31,단순투자,"5,000","1,000,000,000,000",1.19,"1,620"
8,코스닥,아이즈비전,위지트,2019.12.24,단순투자,"4,928","7,920,517,000,000",7.69,"4,919"
0,코스피,삼양통상,BNK금융지주,2019.12.04,단순투자,"854,000,000",-,-,-
1,코스피,삼양통상,덕산네오룩스,2021.11.15,단순투자,"52,000,000",-,-,-
2,코스피,삼양통상,LG에너지솔루션,2022.05.06,단순투자,"3,352,000,000",-,-,-
...,...,...,...,...,...,...,...,...,...
33,코스피,현대모비스,HDC,2005.05.20,단순투자,"3,660,000,000","182,000",0,"1,002,000,000"
44,코스피,현대모비스,HDC현대산업개발,2018.06.12,단순투자,"5,114,000,000","255,000",0,"2,550,000,000"
46,코스피,현대모비스,미디어젠,2009.06.25,단순투자,"2,000,000","209,000",4,"2,564,000,000"
52,코스피,현대모비스,화승알앤에이,2021.03.03,단순투자,"1,090,000,000","468,000",2,"1,681,000,000"
7,코스닥,인콘,휴마시스,2022.10.13,단순투자,"2,728,000,000","205,232",0.61,"2,925,000,000"

In [21]:
check.to_excel("ECM2부-타법인출자현황-단순투자-2022-사업보고서.xlsx", index = False, encoding = "CP949")