## Import

In [1]:
from tqdm import tqdm

import pandas as pd
import numpy as np
import OpenDartReader
import warnings
import dart_fss
import time
import re, os

warnings.filterwarnings('ignore')

* API Setting

In [2]:
api_key = '1b39652cef07f626c9d37375edf582ee51b1407f'
dart = OpenDartReader(api_key)
dart_fss.set_api_key(api_key=api_key)

'1b39652cef07f626c9d37375edf582ee51b1407f'

In [16]:
dart.corp_codes

      corp_code           corp_name stock_code modify_date
0      00434003                  다코               20170630
1      00434456                일산약품               20170630
2      00430964               굿앤엘에스               20170630
3      00432403                한라판지               20170630
4      00388953   크레디피아제이십오차유동화전문회사               20170630
...         ...                 ...        ...         ...
98561  00646510  미래에셋파트너스사호사모투자전문회사               20230228
98562  01184822      미래에셋파트너스9호사모투자               20230228
98563  00755252                 시니안               20230228
98564  00227582               청호나이스               20230228
98565  01615845              메타버스월드               20230228

[98566 rows x 4 columns]

In [17]:
dart.event('01615845', '전환사채발행')

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

Empty DataFrame
Columns: []
Index: []