## Import

In [1]:
import OpenDartReader
import pandas as pd
import numpy as np

* dart setting

In [2]:
api_key = '1b39652cef07f626c9d37375edf582ee51b1407f'
dart = OpenDartReader(api_key)

C:\Windows\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1095: InsecureRequestWarning: Unverified HTTPS request is being made to host 'opendart.fss.or.kr'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [5]:
df = dart.regstate('쏘카', '지분증권')

C:\Windows\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1095: InsecureRequestWarning: Unverified HTTPS request is being made to host 'opendart.fss.or.kr'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [6]:
df.iloc[:, :18]

,rcept_no,corp_cls,corp_code,corp_name,sbd,pymd,sband,asand,asstd,exstk,exprc,expd,rpt_rcpn,title,stksen,stkcnt,fv,slprc
0,20220715000095,Y,01026157,쏘카,2022년 08월 10일 ~ 2022년 08월 11일,2022년 08월 16일,2022년 08월 10일,2022년 08월 16일,-,-,-,-,-,일반사항,NaN,NaN,NaN,NaN
0,20220715000095,Y,01026157,쏘카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,증권의종류,기명식보통주,"4,550,000",100,"34,000"
0,20220715000095,Y,01026157,쏘카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,인수인정보,기명식보통주,NaN,NaN,NaN
1,20220715000095,Y,01026157,쏘카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,인수인정보,기명식보통주,NaN,NaN,NaN
2,20220715000095,Y,01026157,쏘카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,인수인정보,기명식보통주,NaN,NaN,NaN
0,20220715000095,Y,01026157,쏘카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,자금의사용목적,NaN,NaN,NaN,NaN
1,20220715000095,Y,01026157,쏘카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,자금의사용목적,NaN,NaN,NaN,NaN
2,20220715000095,Y,01026157,쏘카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,자금의사용목적,NaN,NaN,NaN,NaN
0,20220715000095,Y,01026157,쏘카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,매출인에관한사항,NaN,NaN,NaN,NaN
0,20220715000095,Y,01026157,쏘카,NaN,NaN,NaN,NaN,NaN,NaN,-,-,NaN,일반청약자환매청구권,NaN,NaN,NaN,NaN

In [8]:
df.iloc[:, 18:]

,slta,slmthn,actsen,actnmn,udtcnt,udtamt,udtprc,udtmth,se,amt,hdr,rl_cmp,bfsl_hdstk,slstk,atsl_hdstk,grtrs,exavivr,grtcnt
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"154,700,000,000",일반공모,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,대표,미래에셋증권,"3,162,250","107,516,500,000","1,290,198,000",총액인수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,공동,삼성증권,"1,342,250","45,636,500,000","547,638,000",총액인수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,인수,유안타증권,"45,500","1,547,000,000","18,564,000",총액인수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,타법인취득자금,"90,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,운영자금,"62,478",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,발행제비용,"2,222",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-